body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border: 7px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: palevioletred;
}
.yellow{
    background-color: goldenrod;
}
.green{
    background-color: rgb(50, 111, 149);
}
.purple{
    background-color: rgb(48, 114, 247);
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: aqua;
}